html, body {
	font-family: 'Oswald', sans-serif;
	margin: 0 auto;
	text-align: center;
}

footer {
	font-family: 'Helvetica', sans-serif;
}

canvas {
	border: 1px black solid;
	position:absolute;
	left:50%;
	width:600px;
	margin-left:-300px;
	z-index:0;
}

#timer {
	font-size: 150%;
	height:35px;
}

#game {
	height:460px;
	position:relative;
}

.btn {
	position:absolute;
	left:50%;
	width:200px;
	margin-left:-100px;
	top:40%;
}